---
import CustomSection from "@builders/custom-section/CustomSection.astro";
import Heading from "@core-elements/heading/Heading.astro";
import Text from "@core-elements/text/Text.astro";
import Spacer from "@core-elements/spacer/Spacer.astro";

const {
  eyebrow = "Eyebrow Heading",
  heading = "A simple text block for your FAQs",
  items = [],

  colorScheme = "inherit",
  backgroundColor,
  class: className,
  useDefaultEditableBinding = false,
  _component,
  ...htmlAttributes
} = Astro.props;
---

<CustomSection
  class:list={["feature-faq", className]}
  maxContentWidth="2xl"
  paddingHorizontal="xl"
  paddingVertical="4xl"
  colorScheme={colorScheme}
  backgroundColor={backgroundColor}
  useDefaultEditableBinding={useDefaultEditableBinding}
  {...htmlAttributes}
>
  <Heading level="h3" size="xs" data-prop="eyebrow">{eyebrow}</Heading>
  <Heading level="h2" data-prop="heading">{heading}</Heading>

  <div class="feature-faq__items" data-editable="array" data-prop="items">
    {items.map((item) => (
      <div class="feature-faq__item" data-editable="array-item" data-id="page-sections/features/feature-faq/faqItem">
        <Spacer size="xl" />
        <Heading level="h3" text={item.question} data-prop="question" />
        <Text text={item.answer} data-prop="answer" />
      </div>
    ))}
  </div>
</CustomSection>

<style is:global>
  @layer page-sections {
    .feature-faq__items {
      width: 100%;
    }

    .feature-faq__item {
      width: 100%;
    }
  }
</style>
